.content-wrap
	margin: 64px auto 0 auto 
	// height: 700px
	// background: red
	min-width: 600px
	min-width: 580px 
	position: relative
	width: 1880px - 16px
	&.not-logged
		margin-top: 144px 
	+r1880
		width: 1666px - 16px
	+r1666
		width: 1452px - 16px
	+r1452
		width: 1238px - 16px
	+r1238
		width: 1024px - 16px
	+r1024
		width: 810px - 16px
	+r810
		width: 596px - 16px
	
.content-layout //wrap for tollbar and userstream
	position: absolute
	// background: rgba(0,0,0,0.5)
	// height: 700px
	left: 152px
	right: 0

// BEGIN TOOLBAR
.toolbar
	background: #FFFFFF
	box-shadow: 0 3px 5px rgba(0,0,0,.37)
	+clr
	position: absolute
	left: 0
	right: 12px
	// position: fixed
	// top: 64px
	// left: 152px
	// right: 12px
	z-index: 10 
	
	
	.search
		top: 8px
		left: 8px 
		float: left
		
	.search__input
		width: 157px
		+r810
			width: 130px 
		
	.privacy-icons
		float: left
		margin-left: 13px 
		+clr
		+r1024
			display: none
		
	.icon
		float: right
		height: 46px
		width: 46px
		line-height: 46px
		text-align: center  
		position: relative
		cursor: pointer
		vertical-align: top
		i
			display: inline-block
			vertical-align: middle
			position: relative
			top: -1px
		&:hover
			background: #F3F3F3 
		&.is-active
			&:before
				content: ' '
				position: absolute
				top: 0 
				left: 0
				width: 100%
				height: 3px   
				background: #bc0000
	
	.icon_privacy-all
		float: left
		i
			+s(privacy-all)
		&:hover, &.is-active
			i
				+s(privacy-allh)

	.icon_privacy-public
		float: left
		i
			+s(privacy-public)
		&:hover, &.is-active
			i
				+s(privacy-publich)

	.icon_privacy-private
		float: left
		i
			+s(privacy-private)
		&:hover, &.is-active
			i
				+s(privacy-privateh)

	.icon_playerview
		i
			+s(playerview)
		&:hover, &.is-active
			i
				+s(playerview-active)

	.icon_docview
		i
			+s(docview)
		&:hover, &.is-active
			i
				+s(docview-active)

	.icon_listview
		i
			+s(listview)
		&:hover, &.is-active
			i
				+s(listview-active)
		
	.icon_gridview
		margin-right: 5px 
		i
			+s(gridview)
		&:hover, &.is-active
			i
				+s(gridview-active)

	.icon_combosort
		float: left
		margin-right: 3px
		text-align: right
		i
			+s(arrow-up)
			top: 1px
			right: 6px 
		&.arrow-down
			i
				+s(arrow-down)

	.icon_refresh
		margin-left: 18px 
		border-left: 1px solid #d1d1d1
		+g(#fdfdfd, #f3f2f3)
		i	
			+s(refresh)
		&:hover, &.is-active
			i
				+s(refreshh)

	.combosort
		float: right
		font-size: 0
		height: 46px 
		line-height: 46px
		margin-right: 11px
		+
		+r810
			display: none

	.combosort__option
		display: inline-block
		vertical-align: middle
		font-size: 13px
		line-height: 23px
		padding-left: 5px
		padding-right: 25px   
		border: 1px solid #969696
		width: 90px
		-ms-text-overflow: ellipsis 
		text-overflow: ellipsis 
		position: relative
		// overflow: hidden 
		white-space: nowrap 
		&:hover
			border: 1px solid #696969
			.combosort__drop
				display: block
				
	.combosort__drop
		display: none
		position: absolute
		top: 23px
		left: -1px
		background: #FFF
		z-index: 20
		width: 100%
		border: 1px solid #969696
		li
			padding: 0 5px
			cursor: pointer
			&:hover
				background: #d01c4a
				color: #FFF 



	.combosort__btn
		float: right
		width: 18px 
		height: 23px
		background: #eaeaea
		border-left: 1px solid #969696 
		vertical-align: middle
		text-align: center
		position: absolute
		top: 0
		right: 0 
		cursor: pointer
		i
			display: block
			position: relative
			top: 9px
			left: 4px
			+s(combosort)

	.combosort:hover
		.combosort__option
			border: 1px solid #696969
			color: #1a1a1a
		.combosort__btn
			border-left: 1px solid #696969
			i
				+s(combosorth)
		
// BEGIN USERSTREAM
.userstream
	position: absolute
	top: 60px
	left: 0
	right: 0
	//margin-right: -12px 
	+clr
	
.userstream__block
	float: left
	//margin-right: 12px
	margin-bottom: 9px
	background: #FFF
	box-shadow: 0 1px 4px 1px rgba(84, 84, 84, 0.81)
	width: 202px
	position: relative
	&:hover
		.userstream__btns
			display: block

.userstream__btns
	position: absolute
	top: 11px
	left: 6px
	display: none
	
	.btn
		display: block
		color: #4d4d4d 
		padding: 5px 8px
		margin-bottom: 3px 
		font: bold 12px/1 Tahoma 
		background: rgba(255,255,255,0.9)
		border: 1px solid rgba(210,210,210,0.9)
		-webkit-border-radius: 3px 
		border-radius: 3px
		&:hover
			color: #9a0000
	
	.btn_edit
		padding-right: 30px
	

.userstream__image
	font-size: 0 
	padding: 1px
	max-height: 400px
	min-height: 130px 
	overflow: hidden 

.userstream__description
	padding: 10px
	font: 12px/1.3 Tahoma
		 
.userstream__collection-name
	background: #eeeeee
	border-top: 1px solid #C8C8C8
	+clr
	img
		display: block
		float: left
		padding: 2px
		margin-right: 7px 
		width: 40px
		height: 40px
	h3
		font: bold 12px Tahoma
		padding: 7px
		
.userstream__collection-usersite
	background: #eeeeee
	border-top: 1px solid #C8C8C8
	text-align: center
	padding: 11px 7px
	a
		text-decoration: none
		color: #4d4d4d
		font: bold 12px/1.1 Tahoma 
		
// BEGIN STREAM
.stream
	margin: 46px 12px 0 0
	background: #f2f2f2
	-webkit-box-shadow: 0 1px 4px 1px rgba(84, 84, 84, 0.81) 
	box-shadow: 0 1px 4px 1px rgba(84, 84, 84, 0.81) 
	padding: 4px
	table
		width: 100%
	td:first-child
		position: relative
		&:before
			content: " "
			position: absolute
			top: -1px
			left: -4px
			width: 3px
			height: 100% 
			background: #bd0000 
			border-bottom: 2px solid #bd0000
			display: none
	tr
		td
			border-bottom: 1px solid #c8c8c8	
		&:hover
			+g(#e5e4e4, #dadbda)
			td:first-child:before
				display: block
			.collection-name, .created, .edited
				display: none
			.stream__btns 
				display: table-cell

	.type
		min-width: 31px //3.71702637%
		width: 31px 
		line-height: 31px
		padding-right: 6px  
		position: relative
		vertical-align: top
		text-align: center
		i
			display: inline-block
			position: relative

	.type_quote
		i
			+s(icon-quote)
	.type_picture
		i
			top: 3px
			+s(icon-picture)
	.type_video
		i
			+s(icon-video)
	.type_site
		i
			top: 3px
			+s(icon-site)

	.website
		width: 17.9856115% //150px
		padding-right: 5px
		font: bold 12px/31px Tahoma
		
		.favicon
			height: 16px
			width: 16px
			position: relative
			top: 3px
			margin-right: 5px 
	
	.privacy
		width: 14px //1.67865707434053% 14px 
		line-height: 31px
		padding-right: 5px 
		text-align: center 
		vertical-align: top
		i
			display: inline-block
			position: relative
			top: 3px
	
	.privacy_private
		i
			+s(icon-private)
	
	.title
		font: 12px/31px Tahoma
		padding-right: 5px
		width: 45.08393285% // 376px/834px 

	.collection-name
		font:  bold 12px/31px Tahoma
		width: 20.383693% 
		padding-right: 5px

	.edited
		font: 12px/31px Tahoma
		padding-right: 20px
		width: 20.383693%
		text-align: right

	.created
		font: 12px/31px Tahoma
		padding-right: 10px
		width: 7.91%
		text-align: right
		
.stream__btns
	text-align: right
	padding-right: 11px
	border: none 
	font-size: 0
	white-space: nowrap 
	display: none
		
	.btn, .btn_link
		color: #4D4D4D 
		font: bold 12px/23px Tahoma
		+g(#fbf9f9, #f2f0f0)
		border: 1px solid #c8c8c8
		-webkit-border-radius: 3px 
		border-radius: 3px 
		-webkit-box-shadow: 0 0 0 1px #FFF inset 
		box-shadow: 0 0 0 1px #FFF inset
		padding: 0 10px
		margin-left: 5px
		&:hover
			color: #9a0000
		
	.btn_edit
		padding: 0 20px
		
	.btn_down
		i
			display: inline-block
			+s(btn-down)
		&:hover
			i
				+s(btn-downh)

	.btn_up
		i
			display: inline-block
			+s(btn-up)
			position: relative
			top: -2px
		&:hover
			i
				+s(btn-uph)
 
	&.privacy-public
		padding-right: 134px
		.btn_link, .btn_edit
			display: none

// BEGIN STREAM DOCVIEW
.stream_docview
	padding: 0
	
.stream__block
	+clr
	padding: 10px 12px
	position: relative
	border-top: 1px solid transparent
	border-bottom: 1px solid #c8c8c8
	&:hover
		background: #dadbda
		&:before
			content: ""
			width: 3px
			height: 100%
			background: #bd0000 
			position: absolute
			top: 0
			left: 0
		.stream__btns
			display: block
			position: absolute
			top: 6px
			right: 10px
	
	.stream__btns
		padding-right: 0
						
	
.stream__block-image
	float: left
	font-size: 0
	text-align: center 
	width: 24.390244% // 200px/820px
	img
		max-width: 100%
		
.stream__block-text
	margin-left: 26.0975609% // 214px/820px
	padding-bottom: 30px 
	h3
		font: bold 14px/16px Arial
		margin-bottom: 10px 
		
	p
		font-size: 13px
		line-height: 16px
		margin-bottom: 16px
		&:last-of-type
			margin-bottom: 0

.stream__block-info
	+clr  
	position: absolute
	bottom: 12px
	right: 14px
	left: 226px/844px*100%

	.website
		float: left
		padding: 0
		width: auto
		line-height: 16px
		
	.created
		float: right
		padding: 0
		width: auto
		margin-left: 21px/820px *100%
		line-height: 16px
		pos
		
	.edited
		float: right
		padding: 0
		width: auto
		line-height: 16px
		
		
		
